* {
  border: 0;
  color: white;
  font-family: Poppins;
}
body {
  background: linear-gradient(90deg, #09203f 0%, #537895 100%);
}
h1 {
  font-weight: bolder;
  font-size: 4rem;
}
ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  width: 60%;
  gap: 40px;
  font-weight: 600;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 8rem;
  margin: 0 1rem;
}

container > div {
  display: flex;
  justify-content: space-between;
}

.hero {
  width: 58rem;
  height: fit-content;
  transform-origin: right;
}
.info {
  padding-left: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div h1 {
  font-size: 4.5em;
  margin: 0;
}
container p {
  font-size: 14px;
}
container a {
  background-color: #f57359;
  text-decoration: none;
  padding: 8px;
  width: 20%;
  text-align: center;
  border-radius: 8px;
  margin-top: 2rem;
  transition: 0.5s;
}

container a:hover {
  background-color: #e06046;
}

.info ul {
  transform: translateY(14rem);
  padding: 0;
  gap: 20px;
}
.info ul li {
  font-size: 32px;
}
.user-input a {
  text-decoration: none;
  border-radius: 4px;
  padding: 12px;
  margin: 0 10px;
}
.register {
  border: 1px white solid;
  transition: 0.5s;
}
.register:hover {
  background-color: white;
  color: #537895;
}
